# Python
__pycache__/
*.pyc
*.pyo

# Virtualenv
.venv/

# IDE
.idea/
.vscode/

# Banco de dados
*.db
*.sqlite
*.sqlite3
banco.db

# Backup
*.sql
backup/
controlcam_backup.sql

# Arquivos temporários
*.log
estrutura.txt
requirements_novo.txt
